<ion-header no-border>
  <ion-toolbar>
    <ion-title color="dark">Aplikasi Pelaporan Cuaca</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="form">
    <form [formGroup]="inputForm">
      <div class="item">
        <div class="titel">Cloud Amount, Type, and Height of Base</div>
        <div class="input">
          <ion-input formControlName="nama"></ion-input>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col3">
        <ion-button expand="full" size="large" color="def" (click)="tes('FEW')">FEW</ion-button>
      </div>
      <div class="col3">
        <ion-button expand="full" size="large" color="def" (click)="tes('SCT')">SCT</ion-button>
      </div>
      <div class="col3">
        <ion-button expand="full" size="large" color="def" (click)="tes('BKN')">BKN</ion-button>
      </div>
      <div class="col3">
        <ion-button expand="full" size="large" color="def" (click)="tes('OVC')">OVC</ion-button>
      </div>
      <div class="col3"></div>
      <div class="col3">
        <ion-button expand="full" size="large" color="def" (click)="tes('TCU')">TCU</ion-button>
      </div>
      <div class="col3">
        <ion-button expand="full" size="large" color="def" (click)="tes('CB')">CB</ion-button>
      </div>
      <div class="col3"></div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('7')">7</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('8')">8</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('9')">9</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('4')">4</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('5')">5</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('6')">6</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('1')">1</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('2')">2</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('3')">3</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes(' ')">SPACE</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('0')">0</ion-button>
      </div>
      <div class="col4">
        <ion-button expand="full" size="large" color="def" (click)="tes('FT')">FT</ion-button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="row">
    <div class="col5">
      <ion-button expand="full" color="danger" routerLink="/qam7"><ion-icon name="arrow-back-outline"></ion-icon> Back</ion-button>
    </div>
    <div class="col2"></div>
    <div class="col5">
      <ion-button expand="full" color="danger" (click)="simpan()">Next <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </div>
  </div>
</ion-footer>
